@font-face {
  font-family: 'GveretLevin';
  src: url('./fonts/GveretLevinAlefAlefAlef-Regular.woff') format('woff'),
       url('./fonts/GveretLevinAlefAlefAlef-Regular.woff2') format('woff2'),
       url('./fonts/GveretLevinAlefAlefAlef-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'NoaShalev';
  src: url('./fonts/noa-shalev-regular-AlefAlefAlef.woff') format('woff'),
       url('./fonts/noa-shalev-regular-AlefAlefAlef.woff2') format('woff2'),
       url('./fonts/noa-shalev-regular-AlefAlefAlef.otf') format('opentype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'GveretLevin', 'NoaShalev'
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
